.random-container {
  padding: 20px;
  width: 85%;
  margin: auto;
  box-shadow: -1px 2px 5px rgba(128, 120, 140, 0.2) !important;
  border: 1px solid var(--uiLightGrey);
  margin-top: 35px;
}

.random {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.random-beer {
  width: 15%;
  text-align: center;
}

img {
  width: 50px;
  height: auto;
  background-color: var(--uiLightGrey);
}

.default-img{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: var(--uiLightGrey);
  margin: auto;
  border: 1px solid var(--uiMidGrey) 
}

.random-beer-description {
  width: 50%;
}

.btn {
  padding: 13px 10px 13px 10px;
  min-height: 50px;
  border-radius: 10px;
  border-color: var(--uiLightGrey);
  background-color: var(--primaryBright);
  color: var(--off-white);
  box-shadow: -1px 2px 5px rgb(128 120 140 / 20%) !important;
}

.random-beer-buttons {
  width: 25%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
