/** Global CSS variables **/

/** Theme and variables **/

:root {
  /** Font family **/

  --font-family-content: "Montserrat", sans-serif;

  /** Primary colors **/

  --primaryDark: #f05a3c;
  --primaryBright: #736ef0;

  /** UI colors **/
  --off-black: #0b0b26;
  --off-white: #fafdfd;
  --background: #fafafa;
  --error: #ef1b26;
  --uiDarkGrey: #7b788d;
  --uiMidGrey: #b8b6c7;
  --uiLightGrey: #f8f7fc;
}
